body{
    background:#7cc1d9;
    overflow: hidden;
    
    
}

.usuario{
    position: fixed;
    top: 40%;
    left: 45%;
    height: '100vh'
}
td {
    text-transform: capitalize;
  }
  .custom-narrow-input {
    width: 40%; }
  .small-box1,
.small-box2,
.small-box3 {
  width: 50px;
  height: 50px;
  margin: 10px;
  background-color: #3498db; 
  border: 1px solid #000; 
  display: inline-block;}
  
  .custom-rounded-table {
    border-radius: 10px; }
  .small-box1{
    background-color: red;
  }

  .small-box2{
   background-color: blue;
  }
  .small-box3{
    background-color:green;
  }
  .encabezado{
    text-decoration: none;
    color: white;
  }
  .citas{
    background: 
    #4cadcf
    ;
  }
  .crearcita{
    background: #dfedec;
  }
  